<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}Build.io{% endblock %}
    </title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    {% block head %}{% endblock %}
    <script src="/js/alpine.js?v={% version %}"></script>
  </head>
  <body>
    <div x-data="{open:false}" class="relative">
      <div class="relative bg-gray-900">
        <div class="max-w-7xl mx-auto px-4 sm:px-6">
          <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
            <div class="flex justify-start lg:w-0 lg:flex-1">
              <a href="#home">
                <img class="h-8" src="src/images/build-logo.svg" alt="">
              </a>
            </div>

            <div class="-mr-2 -my-2 md:hidden">
              <button @click="open = true" type="button" class="rounded p-2 inline-flex items-center justify-center text-white hover:text-amarillo-500 hover:bg-everglade-600 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-everglade-500">
                <span class="sr-only">Open menu</span>
                <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
              </button>
            </div>

            <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
              <a href="" class="text-base font-medium text-white hover:text-amarillo-500 mr-6">
                How it works
              </a>

              <a href="" class="text-base font-medium text-white hover:text-amarillo-500 mr-6">
                Why Build.io
              </a>
              <a href="" class="text-base font-medium text-white hover:text-amarillo-500 mr-6">
                Benefits
              </a>
              <a href="" class="text-base font-medium text-white hover:text-amarillo-500 mr-6">
                FAQ
              </a>
              <a href="" class="text-base font-medium text-white hover:text-amarillo-500 mr-6">
                Documentation
              </a>
            </div>
          </div>
        </div>

        <div x-show="open" class="absolute top-0 inset-x-0 z-10 p-2 transition transform origin-top-right">
          <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
            <div class="pt-3 pb-6 px-4">
              <div class="flex items-center justify-between">
                <div>
                  <a href="#home">
                    <span class="text-lg text-everglade-500 font-bold tracking-wide">The Academy</span>
                  </a>
                </div>
                <div class="-mr-2">
                  <button @click="open = false" type="button" class="bg-white rounded p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-everglade-500">
                    <span class="sr-only">Close menu</span>
                    <!-- Heroicon name: x -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="mt-6">
                <nav class="grid gap-y-8">
                  <a href="#our-school" class="-m-3 p-3 flex items-center rounded hover:bg-gray-50">

                    <span class="ml-3 text-base font-medium text-gray-900">
                      Our School
                    </span>
                  </a>

                  <a href="#academics" class="-m-3 p-3 flex items-center rounded hover:bg-gray-50">
                    <span class="ml-3 text-base font-medium text-gray-900">
                      Academics
                    </span>
                  </a>

                  <a href="#student-life" class="-m-3 p-3 flex items-center rounded hover:bg-gray-50">
                    <span class="ml-3 text-base font-medium text-gray-900">
                      Student Life
                    </span>
                  </a>

                  <a href="#admissions" class="-m-3 p-3 flex items-center rounded hover:bg-gray-50">
                    <span class="ml-3 text-base font-medium text-gray-900">
                      Admissions
                    </span>
                  </a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block content %}
      {{ content | safe }}
    {% endblock %}

    <!-- This example requires Tailwind CSS v2.0+ -->
    <div class="bg-gray-900">
      <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-24 lg:px-8 lg:flex lg:items-center lg:justify-between">
        <h2 class="text-3xl tracking-tight text-white md:text-4xl w-1/2">
          <span class="block">Deploy your application to any environment in minutes</span>
        </h2>
        <div class="mt-8 flex lg:mt-0 lg:flex-shrink-0">
          <div class="inline-flex rounded-md shadow">
            <a href="#" class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700">
              Get started
            </a>
          </div>
        </div>
      </div>
    </div>

    <footer class="bg-gray-900 z-10 relative" aria-labelledby="footerHeading">
      <h2 id="footerHeading" class="sr-only">Footer</h2>
      <div class="max-w-7xl mx-auto pb-12 px-4 sm:px-6 lg:pb-16 lg:px-8">

        <div class="border-t border-gray-700 pt-8 md:flex md:items-center md:justify-between">
          <div class="flex items-center">
            <img class="h-6 mr-2" src="src/images/build-logo.svg" alt="">
            <p class="mt-8 text-sm text-gray-300 md:mt-0 md:order-1">
              Deploy your app in minutes
            </p>
          </div>
          <p class="mt-8 text-sm text-gray-300 md:mt-0 md:order-1">
            © 2021 Build.io, Inc. All rights reserved.
          </p>
        </div>
      </div>
    </footer>


  </body>
</html>
