<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}The Academy{% endblock %}
    </title>
    <meta charset="UTF-8"/>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/style.css?v={% version %}"/>
    {% block head %}{% endblock %}
    <script src="/js/alpine.js?v={% version %}"></script>
  </head>
  <body>
    <div x-data="{open:false}" class="relative">
      <div class="relative bg-everglade-500">
        <div class="max-w-7xl mx-auto px-4 sm:px-6">
          <div class="flex justify-between items-center py-6 md:justify-start md:space-x-10">
            <div class="flex justify-start lg:w-0 lg:flex-1">
              <a href="#home">
                <span class="text-lg text-gossip-500 font-bold tracking-wide">The Academy</span>
              </a>
            </div>
            <div class="-mr-2 -my-2 md:hidden">
              <button @click="open = true" type="button" class="rounded p-2 inline-flex items-center justify-center text-white hover:text-amarillo-500 hover:bg-everglade-600 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-everglade-500">
                <span class="sr-only">Open menu</span>
                <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                </svg>
              </button>
            </div>
            <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
              <a href="#our-school" class="text-base font-medium text-white hover:text-amarillo-500 mr-6">
                Our School
              </a>

              <a href="#academics" class="text-base font-medium text-white hover:text-amarillo-500 mr-6">
                Academics
              </a>
              <a href="#student-life" class="text-base font-medium text-white hover:text-amarillo-500 mr-6">
                Student Life
              </a>
              <a href="#admissions" class="text-base font-medium text-white hover:text-amarillo-500 mr-6">
                Admissions
              </a>
            </div>
          </div>
        </div>

        <div x-show="open" class="absolute top-0 inset-x-0 z-10 p-2 transition transform origin-top-right">
          <div class="rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 bg-white divide-y-2 divide-gray-50">
            <div class="pt-3 pb-6 px-4">
              <div class="flex items-center justify-between">
                <div>
                  <a href="#home">
                    <span class="text-lg text-everglade-500 font-bold tracking-wide">The Academy</span>
                  </a>
                </div>
                <div class="-mr-2">
                  <button @click="open = false" type="button" class="bg-white rounded p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-everglade-500">
                    <span class="sr-only">Close menu</span>
                    <!-- Heroicon name: x -->
                    <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                    </svg>
                  </button>
                </div>
              </div>
              <div class="mt-6">
                <nav class="grid gap-y-8">
                  <a href="#our-school" class="-m-3 p-3 flex items-center rounded hover:bg-gray-50">

                    <span class="ml-3 text-base font-medium text-gray-900">
                      Our School
                    </span>
                  </a>

                  <a href="#academics" class="-m-3 p-3 flex items-center rounded hover:bg-gray-50">
                    <span class="ml-3 text-base font-medium text-gray-900">
                      Academics
                    </span>
                  </a>

                  <a href="#student-life" class="-m-3 p-3 flex items-center rounded hover:bg-gray-50">
                    <span class="ml-3 text-base font-medium text-gray-900">
                      Student Life
                    </span>
                  </a>

                  <a href="#admissions" class="-m-3 p-3 flex items-center rounded hover:bg-gray-50">
                    <span class="ml-3 text-base font-medium text-gray-900">
                      Admissions
                    </span>
                  </a>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% block content %}
      {{ content | safe }}
    {% endblock %}

    <footer class="bg-everglade-900 z-10 relative" aria-labelledby="footerHeading">
      <h2 id="footerHeading" class="sr-only">Footer</h2>
      <div class="max-w-7xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
        <div class="pb-8 xl:grid xl:grid-cols-4 xl:gap-8">
          <div class="grid grid-cols-2 gap-8 xl:col-span-4">
            <div class="md:grid md:grid-cols-2 md:gap-8">
              <div class="mt-2">
                <a href="#home">
                  <span class="text-lg text-gossip-500 font-bold tracking-wide">The Academy</span>
                </a>
              </div>
              <div class="mt-12 md:mt-0">
                <ul class="mt-4 space-y-4">
                  <li>
                    <a href="#our-school" class="text-base text-white hover:text-white">
                      Our School
                    </a>
                  </li>
                  <li>
                    <a href="#academics" class="text-base text-white hover:text-white">
                      Academics
                    </a>
                  </li>
                  <li>
                    <a href="#student-life" class="text-base text-white hover:text-white">
                      Student Life
                    </a>
                  </li>
                  <li>
                    <a href="#admissions" class="text-base text-white hover:text-white">
                      Admissions
                    </a>
                  </li>
                  <li>
                    <a href="#admissions" class="text-base text-amarillo-500 hover:text-amarillo-400">
                      Apply now
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="md:grid md:grid-cols-2 md:gap-8">
              <div>
                <ul class="mt-4 space-y-4">
                  <li>
                    <a href="#admissions" class="text-base text-white hover:text-white">
                      Contact
                    </a>
                  </li>
                  <li>
                    <a href="#" class="text-base text-white hover:text-white">
                      Privacy Policy
                    </a>
                  </li>
                  </ul>
              </div>
              <div class="mt-12 md:mt-0">
                <h3 class="font-bold text-white">
                  Shinjuku Campus
                </h3>
                <ul class="mt-4 space-y-4">
                  <li>
                    <a href="#" class="text-base text-white hover:text-white">
                      14-2 Nomizu, Shinjuku<br>
                      Tokyo 182-0031
                    </a>
                  </li>
                  <li>
                    <a href="#" class="text-base text-amarillo-500 hover:text-amarillo-400">
                      (+81) 123-34-5300
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-12 border-t border-gray-900 pt-8 md:flex md:items-center md:justify-between">
          <p class="mt-8 text-sm text-white md:mt-0 md:order-1">
            The Academy &copy; 2021
          </p>
        </div>
      </div>
    </footer>


  </body>
</html>
