---
tags: trainertask
title: 5a1dbd15014b821c1948c351
audit: Accepted
status: Queued
tasktype: Envelope Scan
inbatch: Batch 3
ibmcode: 5123
sendername: M. Yamamoto
senderaddress: Tokyo Centra Post Office, P.O.B 640, Tokyo, Japan
recipientaddress: Lincolnstraße 10, 20359 Hamburg
recipientname: Herrn John Lührs
date: 2021-01-01T04:10:17.000Z
layout: trainertask.njk
---

<img class="mx-auto py-6 px-4 inset-0 w-full h-full object-cover" src="/src/images/envelope.jpg" alt="">
