@font-face {
    font-family: 'RelativeBold';
    src: url('../src/fonts/relative-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RelativeFaux';
    src: url('../src/fonts/relative-faux.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
 scroll-behavior: smooth;
}

html,
body {
  font-family: 'RelativeFaux', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  -moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased; /*(For Chrome and Safari)*/
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
.text-serif {
  font-family: 'RelativeBold', "SF Mono", "Monaco", "Inconsolata", "Fira Mono", "Droid Sans Mono", "Source Code Pro", monospace !important;
  -moz-osx-font-smoothing: grayscale; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased; /*(For Chrome and Safari)*/
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .change {
    color: black;
  }
}

.btn {
  @apply inline-flex items-center px-5 py-3 border border-transparent shadow-sm text-base rounded-md text-black bg-yellow-500 hover:bg-yellow-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500;
}

.btn-primary {
  @apply bg-yellow-500 text-black;
}

.btn-secondary {
  @apply border border-gray-200 bg-white;
}

.two-x {
  max-width: 296px;
}
